streamlit
yt-dlp
yt-dlp-ejs
ffmpeg-python
pydub
openai-whisper
audioop-lts
torchvision

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma

google-generativeai

chromadb
sentence-transformers
transformers
huggingface-hub

torch
numpy
scikit-learn

reportlab
python-dotenv